<section class="about_container">
    <h1 class="text-center mb-5">MY MODE OF CONTACT</h1>
    <p>
       <b><br>This is for EDUCATIONAL PURPOSES ONLY.</b>
    </p>
    <p>
       <b style="margin-left: 10%; margin-right: 10%;">    SUBMITTED BY:  Justin Aaron Urmeneta (BSIT 3C)</b>
    </p>
    <p>
        <b style="margin-left: 10%; margin-right: 10%;">    SUBMITTED TO: MR. GREGORIO SONIT</b>
            </p>

    <div class="follow text-center">
        <h4><br>Follow Me On!</h4>
        <a href="#">Facebook</a><p>@Justin Aaron Urmeneta</p>    
        <a href="#">Youtube</a><p>@yojustinxd</p>
        <a href="#">Git</a><p>@xxaaronxx13</p>
        <a href="#">Email</a><p>@justinaaron.urmeneta@evsu.edu.ph</p>
    </div>

</section>