<div class="container">
    <div class="gallery">
        <img src="../../assets/gal1.jpg" alt="face">
            <div class="desc">Thinking how will i code the midterm exam hahhah.</div>
    </div>
    <div class="gallery">
        <img src="../../assets/gal2.jpg" alt="face">
            <div class="desc">Sir, kayano kasugad?! Diri harumamay. Garet na ko!</div>
    </div>
    <div class="gallery">
        <img src="../../assets/gal3.jpg" alt="face">
            <div class="desc"> Joke lang sir, peace hehheh. Bati na tayo</div>
    </div>
    <div class="gallery">
        <img src="../../assets/gal4.JPG" alt="face">
            <div class="desc"> The beggining of my Guitar Journey.</div>
    </div>
    <div class="gallery">
        <img src="../../assets/gal5.jpg" alt="face">
            <div class="desc"> Church rehearsal.</div>
    </div>
    <div class="gallery">
        <img src="../../assets/gal6.jpeg" alt="face">
            <div class="desc"> My Highschool life at HCCC.</div>
    </div>
</div>
